<!DOCTYPE html>
<html lang="en" ng-app="TestForm">
<head>
    <meta charset="UTF-8">
    <title>Test form</title>
</head>
<script src="node_modules/angular/angular.min.js"></script>
<script src="app.js"></script>
<link href="style.css" rel="stylesheet">

<body ng-controller="TestFormController">

<form name="messageForm" class="centerForm">
    <div class="formInput required">
        <label class="requiredLabel">Mail : </label>
        <input type="email" ng-model="message.email" required/>
    </div>

    <div class="formInput required">
        <label class="requiredLabel">Subject : </label>
        <input name="subjectInput" type="text" ng-model="message.subject" maxlength="100" required/>
    </div>
    <div ng-click="changeToungue()">{{getLimitTrad(100,message.subject)}}</div>


    <div class="formInput">
        <label>Body : </label>
        <input type="test" ng-model="message.body" maxlength="1000"/>

    </div>
    <div ng-click="changeToungue()">{{getLimitTrad(1000,message.body)}}</div>


    <input type="submit" ng-click="messageForm.$valid && submit()" value="Save"/>
</form>
</div>


</body>
</html>