<!DOCTYPE html>
<html lang="en" ng-app="TestForm">
<head>
    <meta charset="UTF-8">
    <title>Test form</title>
</head>
<script src="node_modules/angular/angular.min.js"></script>
<script src="app.js"></script>
<link href="style.css" rel="stylesheet">

<body ng-controller="TestFormController">

<form class="simple-form" name="messageForm">
    <label>Mail : <input type="email" ng-model="message.email" required/></label><br/>
    <label>Subject : <input type="text" ng-model="message.subject" maxlength="100" required/></label><br/>
    <label>Body : <input type="email" ng-model="message.body" maxlength="1000"/></label><br/>

    <input type="submit" ng-click="messageForm.$valid && submit()" value="Save"/>
</form>
</div>


</body>
</html>