<!DOCTYPE html>
<html lang="en" ng-app="TestForm">
<head>
    <meta charset="UTF-8">
    <title>Test form</title>
</head>
<script src="node_modules/angular/angular.min.js"></script>
<script src="app.js"></script>
<link href="style.css" rel="stylesheet">

<body ng-controller="TestFormController">

<form novalidate class="simple-form">
    <label>Mail : <input type="email" ng-model="message.email"/></label><br/>
    <label>Subject : <input type="text" ng-model="message.subject"/></label><br/>
    <label>Body : <input type="email" ng-model="message.body"/></label><br/>

    <input type="submit" ng-click="submit()"/>
</form>
</div>


</body>
</html>